# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3

# Node / React
node_modules/
dist/
build/

# Env files
.env

# IDEs
.vscode/
.idea/

# Coverage reports
.coverage
htmlcov/
.pytest_cache/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Database files
*.db
*.sqlite
